@font-face {
    font-family: flexo;
    src: url("../../../assets/fonts/Flexo-Medium.ttf");
}

// Container general
#container {
    width: 70%;
    margin: auto;
    padding-bottom: 3rem;
    font-family: flexo;
    background-color: rgb(82, 82, 82);

    #title {
        width: 100%;
        margin: 0;
        padding: 20px;
        font-size: 3rem;
        background-color: #fff;
        color: rgb(92, 92, 92);
    }

    #RandomAndFilter {
        display: flex;
        justify-content: space-evenly;
        background-color: #313131;
        align-items: center;
        padding: 0.5em;
        font-weight: bold;

        .panel {
            position: relative;
        }        
    }

    #pokemonsContainer {
        width: 85%;
        margin: auto;
        background-color: #fff;
        border-radius: 20px;
        margin: 0 50 0 50;

        // Pone a los Pokémon en tipo lista
        .pokemons {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 10px 15px 0 15px;
            
            // CSS de cada cajita Pokémon
            .pokemon {
                background-color: rgb(92, 92, 92);
                border-radius: 15px;
                margin: 20px 15px 5px 15px;

                img {
                    cursor: pointer;
                    border-radius: 10px;
                    min-width: 100px;
                    min-height: 100px;
                    background-color: rgb(230, 230, 230);
                }

                .text {
                    padding: 2px;
                    margin: 0 10px 5px 10px;
                    color: rgb(221, 221, 221);
                    text-align: center;
                }

                #id {
                    border-bottom: 2px solid gray;
                }
                
                #name {
                    font-size: 1.5em;
                }

                // Caja general de los tipos del Pokémon
                #types {
                    font-family: Arial;
                    font-weight: bold;

                     // Cajita única del tipo del Pokémon 
                    .typeBox {
                        padding: 2px;
                        margin: 0 10px 10px 10px;
                        text-align: center;
                        border-radius: 7px;
                    }
                }
            }
        }
    }
}
