<div id="container">
        <!-- "p" es un Pokémon, el pokémon del que se está viendo la información,
        "pAnterior" es el Pokémon anterior a este, "pSiguiente" es el Pokémon siguiente a este,
        "pUltimo" es el Pokémon con id más alto de la lista,
        "pPrimero" es el Pokémon con id más bajo de la lista -->
    <div id="AnteriorSiguiente">
        <div class="columnAnteriorSiguiente" id="anterior">
            <!-- Si el id es == 1, muestra el anterior a él, que sería el último de la lista -->
            <p id="text" *ngIf="p.id === 1" (click)="goPokemonInfo(pUltimo.id)">
                <span>N.º{{formatId(pUltimo.id)}}</span> {{pUltimo.name}}
            </p>
            <p id="text" *ngIf="p.id > 1" (click)="goPokemonInfo(pAnterior.id)">
                <span>N.º{{formatId(pAnterior.id)}}</span> {{pAnterior.name}}
            </p>
            
        </div>
        <div class="columnAnteriorSiguiente" id="siguiente">
            <!-- Si este es el último de la lista, el siguiente Pokémon que muestra es el primero de la lista-->
            <p id="text" *ngIf="p.id == pUltimo.id" (click)="goPokemonInfo(pPrimero.id)"> 
                {{pPrimero.name}} <span>N.º{{formatId(pPrimero.id)}}</span>
            </p>
            <p id="text" *ngIf="p.id != pUltimo.id" (click)="goPokemonInfo(pSiguiente.id)"> 
                {{pSiguiente.name}} <span>N.º{{formatId(pSiguiente.id)}}</span>
            </p>
        </div>  
    </div>
    
    <p id="name">{{p.name}} N.º{{formatId(p.id)}}</p>
    
    <div id="grid2col">
        <div class="column" id="imageAndStats">
            <img src="../../../assets/images/pokemons/{{p.image}}">
        </div>
        <div class="column" id="descriptionAndInfo">
            <p>{{p.description}}</p>
            <app-chart-stats [someInput]="p.id"></app-chart-stats>
        </div>
    </div>
</div>