<div id="container">
    <div class="title">Habilidades</div>
    <div class="infoContainer">
        <div class="abilityDescription">
            Una habilidad es un rasgo de los Pokémon introducido en la tercera generación. <br> <br>

            Cada especie Pokémon tiene su propia habilidad. Esta puede servir dentro del combate o fuera de él. Se asocian a condiciones especiales en las que esa especie se desenvuelve o le favorece alguna condición especial de su cuerpo o mente. <br> <br>
            
            Por ejemplo, Pikachu es un Pokémon de tipo eléctrico que tiene la habilidad de poder paralizar automáticamente a aquél que lo toque. Gastly, un Pokémon de tipo fantasma, es capaz de flotar sin necesidad de pertenecer al tipo volador gracias a su habilidad levitación, que impide que los ataques de tipo tierra le hagan daño alguno. Otra habilidad bastante común es intimidación, cuyos efectos disminuyen el ataque del Pokémon rival al entrar en combate. Todos los Pokémon iniciales de todas las regiones y sus evoluciones, poseen una habilidad que aumenta los ataques de su tipo cuando tienen 1/3 o menos de sus puntos de salud.

            <h2>Lista de habilidades</h2>

            Existen actualmente 267 habilidades:
        </div>
        <div class="abilitiesTable">
            <table border="1">
                <thead>
                    <tr class="rowUp">
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="rowDown" *ngFor="let a of abilities">
                        <td>#{{formatId(a.abilityId)}}</td>
                        <td class="nameColumn">{{a.abilityName}}</td>
                        <td class="descColumn">{{a.abilityDescription}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
