#container {
    width: 85%;
    margin: auto;
    padding: 3rem;
    background-color: gray;


    #abilitiesTable {
        width: 70%;
        margin: auto;
        background-color: white;
        font-size: 1.1rem;
        align-content: center;
    
        table {
            border-collapse: collapse;

            .rowUp {
                background-color: lightseagreen;
                color: white;
            }
        
            .rowDown {
                padding: 20px;
                font-family: Arial, Helvetica, sans-serif;

                .nameColumn {
                    text-align: center;
                }
            }    
        }
    }
}
