*,
*::before,
*::after {
  box-sizing: border-box;
}

:where(:not(:defined)) {
  display: block;
}

:root {
  color: #000;
}

html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: url('./assets/images/pokemon_background_pattern.png');
  background-size: cover;
}

app-root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: auto;
}

app-pokedex, 
app-pokemon-info, 
app-habilidades, 
app-chart-stats,
app-data-and-description {
  width: 100%;
  height: 100%;
  overflow: auto;
}

img {
  -webkit-user-drag: none;
}

// Panel Menu
.p-toggleable-content {
  position: absolute;
  width: 100%;
}

// Interrogación
.pi.pi-question {
  font-weight: bold;
}
